/*
*
* general
*
*/


body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
  color: #2d3c49;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}


header,
section,
article,
figure,
footer{
    box-sizing: border-box;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    overflow: auto;
}


/*
*
* header
*
*/

.headers{
    box-sizing: border-box;
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 1%;
    height: auto;
    max-height: 200px;
    border-bottom: solid;
    border-color: #7d97ad;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

img.h__logo{
    float:left;
    width: 25%;
    max-width: 150px;
    border-radius: 100%;
    margin: auto;
}

.header_title{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1%;
    height: auto;
    float: right;
}

.owner{
    font-size: 25px;
    text-align: right;
}

.title{
    font-size: 17px;
    text-align: right;
}

/*
*
* section
*
*/

.content{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

img.main__pic{
    width: 100%;
}

.content_head{
    width: 100%;
    margin-bottom: 10px;
}

.content__projects{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.project{
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-width: 200px;
  margin-bottom: 10px;
  text-align: center;
}

img.p__pic{
  width: 100%;

}
/*
*
* footer
*
*/

footer{
    box-sizing: border-box;
    border-top: solid;
    border-color: #7d97ad;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
}

footer p{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;

}



/*
*
* Media queries
*
*/

@media screen and (min-width: 500px) {
    .owner{
        font-size: 40px;
        text-align: right;
    }

    .title{
        font-size: 20px;
        text-align: right;
    }

    footer p{
        font-size: 12px;
    }

    #css__proofed{
        float: left;
    }

    #contact{
        float: right;
    }
}

@media screen and (min-width: 600px) {
    .owner{
        font-size:50px;
        text-align: right;
    }

    .title{
        font-size: 25px;
        text-align: right;
    }

    .content__projects{
      width: 100%;
    }

    .project{
      width: 49%;
    }

    #first__p{
      margin-right: auto;
    }
    #second__p{
      margin-left: auto;
    }
    #third__p{
      margin-left: auto;
      margin-right: auto;
    }

    footer p{
        font-size: 13px;
    }
}

@media screen and (min-width: 650px) {

    footer p{
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) {

    .content{
        max-width: 1000px;
    }

    .owner{
        font-size: 60px;
        text-align: right;
    }

    .title{
        font-size: 30px;
        text-align: right;
    }

    .project{
      width: 32%;
      float: left;
    }

    #first__p{
      margin-left: 0;
      margin-right: 0;
    }

    #second__p{
      margin-left: auto;
      margin-right: auto;
    }

    #third__p{
      margin-left: 0;
      margin-right: 0;
    }
}
